<div class="container" style="margin-top: 5em">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar por tipo">
  </mat-form-field>
  <table mat-table [dataSource]="datasource" class="mat-elevation-z8"
         matSort matSortActive="created" matSortDisableClear matSortDirection="asc">
    <!-- Position Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Mascota </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="nroFicha">
      <th mat-header-cell *matHeaderCellDef> Ficha Mascota </th>
      <td mat-cell *matCellDef="let element"> {{element.nroFicha}} </td>
    </ng-container>

    <ng-container matColumnDef="raza">
      <th mat-header-cell *matHeaderCellDef> Raza </th>
      <td mat-cell *matCellDef="let element"> {{element.raza}} </td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo de Mascota</th>
      <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
    </ng-container>

    <ng-container matColumnDef="edad">
      <th mat-header-cell *matHeaderCellDef> Edad </th>
      <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
    </ng-container>

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> Color </th>
      <td mat-cell *matCellDef="let element"> {{element.color}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email Cliente </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
